/* Surcharge des regles concernant un élément html */
body {
	background-color: #343a40;
}
h1 {
	font-weight: 300;
	margin-bottom: 2rem;
}

/* Surcharge les grands blocs */
.main-content {
	background-color: 3FAF9F8;
}
.information {
	margin-bottom: 1.5rem;
}
.resultat h3 {
	margin:2rem auto;
}
.resultat h3:first-child {
	margin-top:0;
}
footer .container {
	background-color:inherit;
}
footer a, footer a:hover {
	color:white;
}
footer a:hover {
	text-decoration: underline;
}

/* Surcharge des éléments Bootstrap */
.navar {
	-webkit-box-shadow: 0 8px 6px -6px #999;
	-moz-bot-shadow: 0 8px 6px -6px #999;
	box-shadow: 0 8px 6px -6px #999;
}
.btn-block {
	margin-top: 2rem;
}
.container {
	background-color: white;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

/* Regle pour la carte */
#mapid {
	background-color: #999999;
	height: 650px
}
.leaflet-tooltip {
	fot-size: 9px;
	padding: .2rem;
}